body{
  background-image: url('https://stmed.net/sites/default/files/artistic-hd-wallpapers-32761-6669528.jpg');
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#pixelPainter{
  display:flex;
  flex-flow: row nowrap;
  align-self: center;
}
#canvas{
  border: 10px solid rgb(136, 167, 50);
  border-radius: 10px;
  margin-right: 20px;
}
h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
#colorPicker{
  width: 80px;
}
.colors{
  display: flex;
  flex-flow: row nowrap;
}
.colorRow{
  display: flex;
  flex-flow: column nowrap;
}
.colorCell{
  width: 40px;
  height: 40px;
}
.buttonControls{
  display:flex;
  flex-flow: row nowrap;
}
.buttonBox{
  display:flex;
  flex-flow: column nowrap;
}
.button{
  width: 36px;
  height:36px;
  margin: 2px;
  display:flex;
  border-radius: 10px; 
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(lightgrey, grey)
}
.icon{
  width: 28px;
  height: 28px;
}
#fillIcon{
  width: 32px;
  height: 32px;
}
#saveIcon{
  width: 32px;
  height: 32px;
}
#loadIcon{
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 640px){
  .pixelPainter{
    flex-flow: row nowrap;
  }
  .controls{
    display:flex;
    flex-flow:row nowrap;
  }
}