#pixelPainter{
  display: flex;
  flex-flow: row nowrap;
}
.canvas{
  display: inline-flex;
  flex-flow: column nowrap;
  margin: 1%;
  border-style: solid;
  border-width: 1px;
  /* border-bottom-width: 2px;
  border-right-width: 2px; */
  flex: 0 0 60%;
  height: 60vw;
}
.canvasRow{
  display: inline-flex;
  flex-flow: row nowrap;
  flex: 1 1 1%;
}
.canvasCell{
  flex: 1 1 1%;
}
.palette{
  display: inline-flex;
  flex-flow: column nowrap;
  margin: 1%;
  border-style: solid;
  border-width: 1px;
  flex: 0 0 20%;
  height: 60vw;
}
.paletteRow{
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 5%;
}
.paletteCell{
  border-style: solid;
  border-width: 1px;
  flex: 1 1;
}
.buttonBox{
  flex: 1 1;
  border-style: solid;
  border-width: 1px;
}
.button{
  text-align: center;
  margin: 5%;
  background-color: grey;
  flex: 1 1;
  font-size: 2vw;
}